extends layout

block content
    div.other
        h1 Help
        p Take a look at <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Adam Pritchard's Markdown cheatsheet</a>!