doctype
html
    head
        title Markdown
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700", type="text/css")
        link(rel="stylesheet", href="/css/main.css")
        script(src="http://code.jquery.com/jquery-1.10.2.js")
        script(src="/js/main.js")
    body
        #container
            header#header.clearfix
                include nav
            main#main.clearfix
                block content